@model ProductViewModel

<h1 class="text-center mb-3">Add new product</h1>

<form method="post">
    <partial name="~/Views/Shared/Partial/_ProductForm.cshtml" for="@Model" />
    <div class="form-group">
        <label asp-for="Category" class="control-label font-weight-bold">Category</label>
        <select asp-for="Category" asp-items="@Html.GetEnumSelectList<ProductCategory>()" class="form-control"></select>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark col-md-3">Back</a>
        <div class="col-md-2"></div>
        <button type="submit" class="btn btn-outline-success col-md-3">Add</button>
        <div class="col-md-2"></div>
    </div>
</form>