@model ProductDetailsViewModel



<div class="text-center">
    <h1 class="text-danger mb-3">Are you sure you want to delete @Model.Name?</h1>

    <partial name="~/Views/Shared/Partial/_ProductCard.cshtml" for="@Model" />

    <div class="row mt-3">
        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-dark col-md-4">Back</a>
        <div class="col-md-4"></div>
        <a asp-action="DeletePost" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-outline-danger col-md-4">Delete</a>
    </div>
</div>
