@model ProductViewModel

<h3 class="text-center mb-3">Update product @Model.Name</h3>

<form method="post">
    <div class="mb-3">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.Category" />
        <partial name="~/Views/Shared/Partial/_ProductForm.cshtml" for="@Model" />
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-dark col-md-3">Back</a>
        <div class="col-md-2"></div>
        <button type="submit" class="btn btn-outline-success col-md-3">Update</button>
        <div class="col-md-2"></div>
    </div>
</form>

