<div class="row border border-dark">
    <div class="col-md-4 text-center border-right font-weight-bold border-dark">Name: </div>
    <div class="col-md-4 text-center border-right font-weight-bold border-dark">Size: </div>
    <div class="col-md-4 text-center font-weight-bold">Price: </div>
</div>
