@model PizzaDetailsViewModel

<div class="row border-bottom border-right border-left border-dark">
    <div class="col-md-4 text-center border-right border-dark">@Model.Id. @Model.Name</div>
    <div class="col-md-4 text-center border-right border-dark">@Model.PizzaSize</div>
    <div class="col-md-4 text-center">$@Model.Price</div>
</div>
