@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h1 class="text-center">@Model.Name</h1>

<div class="row text-center mt-3 mb-3">
    <div class="col-md-4"><a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger" style="width:8rem;">Back</a></div>
    <div class="col-md-4"><button class="btn btn-outline-success" style="width:8rem;">Buy</button></div>
    <div class="col-md-4"><button class="btn btn-outline-dark" style="width:8rem;">Leave Review</button></div>
</div>

<partial name="~/Views/Shared/Partial/_ProductDetailsCard.cshtml" for="@Model" />
