@model ProductViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label font-weight-bold">Name</label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Price" class="control-label font-weight-bold">Price</label>
    <input asp-for="Price" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Description" class="control-label font-weight-bold">Description</label>
    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
</div>

