@model ProductDetailsViewModel

<div class="card" style="height: 15rem;">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text" style="height: 8rem; overflow:auto;">Product photo</p>
        <p class="font-weight-bold">Price: $@Model.Price</p>
    </div>
</div>
